body{
    margin: 0;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    color:black;
    background-color: #fff;
    justify-content: center;
    /* background-image: url("../img/login.jpg"); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid black; */
}

.main{
    width: 400px;
    height: 650px;
    padding: 10px 25px 35px 35px;
    margin-left: -30px;
    margin-top: 220px;
    border-radius: 20px;
    background-color: ;
    font-family: sans-serif;
    font-weight: 700;
}

.title{
    text-align: center;
    font-size: 40px;
    color: black;
    letter-spacing: 5px;
}

.credentials{
    width: 100%;
    padding: 2px 5px 0px 5px;
}

.credentials input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: black;
    padding: 20px 10px 20px 5px;
}

.username{
    margin-bottom: 20px;
    border-bottom: 2px solid #c2c4c3;
    transition: 0.5s ease;
}

.username:hover{
    border-bottom: 3px solid white;
}

.password{
    margin-bottom: 30px;
    border-bottom: 2px solid #c2c4c3;
    transition: 0.5s ease;
}

.password:hover{
    border-bottom: 3px solid white;
}

.submit{
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color:black;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, #f1f1f7 0%, #9493d4 41%, #4e4bb4 100%);
    background-size: 200%;
    transition: 0.5s;
}

.submit:hover{
    background-position: right; 
    color: white;
}

.link{
    margin: 10px;
    text-align: center;
}

.link a{
    color: rgb(105, 100, 100);
    font-size: 15px;
    text-decoration: none;

}

@media (max-width:960px)
{
    body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        overflow: hidden;
    }

    .main{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}